/* html{
  background-color: #EED2FA
}

h2{
  font-style: oblique;
}


html{
  font-family:monospace;
} */



/*  */
/*  */

body {
  background: linear-gradient(-90deg, #2FC5BA, #62C6C9, #2FC5BA);  color: #b9abff;
  display: grid;
  font-family: 'Helvetica', Arial, sans-serif;
  height: calc(100vh - 8rem);
  padding: 4rem;
  place-content: center;
}

body {
  height: 100vh;
  width: 100%;
  margin: 10px;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 21px;
  color: #333;
  line-height: 1.5;
  background: linear-gradient(-90deg, #2FC5BA, #62C6C9, #2FC5BA);
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #328ca8;
  margin: 0;
}

span{
  font-size: 0.75rem;

}

span b {
  font-size: 150%;
}

span c {
  font-size: 150%;


}

span d{
  font-size: 125%;
}




* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: inherit;
}

img{
  margin: 10px;
}

.pic{
  height: 10%;
  width: 10%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  margin: 10px;
  padding: 0.5;
  color: #303030;
}
