<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel ="stylesheet" href="assets/css/about.css">
    <h1>About Us</h1>
    <br>
    <br>
  </head>
  <body>
  <h2>Why?<h2>
    <h4>
      <p>
      </p>
    </h4>
    <br>
    <br>
  <h2>Statistics<h2>
    <h4>
      <p>
      </p>
    </h4>
    <br>
    </br>
  <h2>Creators<h2>
    <h4>
      <p>
      </p>
    </h4>
    <br>
    <br>
    <br>
    <br>
  <input type="button" id="goHome" value="Home" onclick="location.href='index.html'"/>
  </body>
</html>
