<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="861105091786-9e0vnb4ean8h0s8uopunnf58ogp89n39.apps.googleusercontent.com">


    <title>Classify</title>
    <!-- <link rel="shortcut icon" type="image/icon" href="assets/images/favicon.ico"/> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/slick.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link id="switcher" href="assets/css/theme-color/default-theme.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>




  </head>
  <body>

	<header id="mu-header" class="" role="banner">
		<div class="container">
			<nav class="navbar navbar-default mu-navbar">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

		      <a class="navbar-brand" href="index.html">Classify</a>


		    </div>

		    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav mu-menu navbar-right">
			        <li><a href="#">HOME</a></li>
			        <li><a href="#mu-about">TODO LIST</a></li>
			        <li><a href="#mu-service">HEALTH</a></li>
		            <li><a href="#mu-portfolio">SETTINGS</a></li>

		      	</ul>
		    </div> -->

        <div class="menu">
    <div class="title">MENU</div>
    <ul class="nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="todolist.html">ToDo </a></li>
      <li><a href="calendar.html">Calendar</a></li>
      <li><a href="health.html">Health</a></li>
      <li><a href="settings.html">Settings</a></li>
      <li><a href="weather.html">Weather</a></li>

      <!-- <li><a href="#">Contact</a></li> -->
    </ul>
</div>
		  </div>
		</nav>
		</div>
	</header>


	<section id="mu-featured-slider">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-featured-area">
						<h1>Welcome Guest</h1>
            <br>


						<div class="mu-featured-slider-wrapper">
							<div class="mu-featured-slider" id="typed-strings">
								<p>Welcome to Classify</span></p>
								<p>Youre not logged in!</span></p>

							</div>
							<span id="typed"></span>
						</div>

						<div class="mu-featured-content">

              <a href="{{login}}" class="mu-primary-btn" data-onsuccess="onSignIn" id="signin"> Sign In </a>



              <!-- <div style="display: flex;
  align-items: center;
  justify-content: center;" id="my-signin2"></div> -->
 <!-- <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }

    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
  </script>  -->

					</div>
				</div>
			</div>
		</div>
	</section>


	</main>

	<!-- End main content -->


	<!-- Start footer -->
	<footer id="mu-footer" role="contentinfo">
			<div class="container">
				<div class="mu-footer-area">
          <p> Google CSSI 2019 </p>
				</div>
			</div>

	</footer>
	<!-- End footer -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script type="text/javascript" src="assets/js/script.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.filterizr.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/typed.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="assets/js/jquery.lineProgressbar.js"></script>

	<script type="text/javascript" src="assets/js/custom.js"></script>




  </body>
</html>
