<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Classify</title>
    <!-- <link rel="shortcut icon" type="image/icon" href="assets/images/favicon.ico"/> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="assets/css/slick.css" rel="stylesheet"> -->
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
    <link id="switcher" href="assets/css/theme-color/default-theme.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">

    <header id="mu-header" class="" role="banner">
  		<div class="container">
  			<nav class="navbar navbar-default mu-navbar">
  		  <div class="container-fluid">
  		    <div class="navbar-header">
  		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  		        <span class="sr-only">Toggle navigation</span>
  		        <span class="icon-bar"></span>
  		        <span class="icon-bar"></span>
  		        <span class="icon-bar"></span>
  		      </button>

  		      <a class="navbar-brand" href="index.html">Classify</a>


  		    </div>
          <div class="menu">
      <div class="title">MENU</div>
      <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="todolist.html">ToDo </a></li>
        <li><a href="calendar.html">Calendar</a></li>
        <li><a href="health.html">Health</a></li>
        <li><a href="weather.html">Weather</a></li>
        <li><a href="about_us.html">About Us</a></li>
        <li><a href="settings.html">Settings</a></li>

        <!-- <li><a href="#">Contact</a></li> -->
      </ul>
  </div>
  		  </div>
  		</nav>
  		</div>
  	</header>
<!-- Breaks -->

    </head>
    <section id="mu-featured-slider">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-12">
  					<div class="mu-featured-area">
  						<h1>Weather</h1>
              	<div class="mu-featured-content">
                </div>
              </section>
              <section id="mu-contact">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-contact-area">

                        <div class="mu-contact-header">
                          <h2 class="mu-heading-title">Weather</h2>
                          <span class="mu-header-dot"></span>
    <form>
      <input type="textbox" id="searchterm" placeholder="zip code,postal code or city name"> <br>
      <input type="button" id="click" value="submit"></input>
      <input type=button onClick="location.href='index.html'" value='Go Home'></input> <br> <br>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript">
    function processResponse(response){
      console.log(response);

      let json = response;
      // let imageUrl = json["data"][0]["images"]["original"]["url"];
      // console.log(imageUrl);

    $("#results").append('<img src="' + '"/>')
      //
      //
    }

    function onButtonClick(){
      console.log("zip code has been recorded");


      let weatherKey="fc1a305754d1452dbe1175203192307";

      let searchTerm = $("#searchterm").val();
      console.log(searchTerm);

      let url_day = "http://api.worldweatheronline.com/premium/v1/weather.ashx?key=" + weatherKey + "&q=" + searchTerm + "&num_of_days=1&tp=3&format=xml"

      console.log(url_day);

      $.get(url_day, null, processResponse)

      var x = new XMLHttpRequest();
      x.open("GET", url_day, true);
      x.onreadystatechange = function () {
        if (x.readyState == 4 && x.status == 200)
        {
          var doc = x.responseXML;
          // console.log(doc);
          var title_1 = doc.getElementsByTagName("temp_C")[0];
          console.log(title_1.childNodes[0]);
          $("#temp_C_value").html(title_1.childNodes[0]);
          var title_2 = doc.getElementsByTagName("temp_F")[0];
          console.log(title_2.childNodes[0]);
          $("#temp_F_value").html(title_2.childNodes[0]);
          var title_3 = doc.getElementsByTagName("date")[0];
          console.log(title_3.childNodes[0]);
          $("#date_value").html(title_3.childNodes[0]);
          var title_4 = doc.getElementsByTagName("maxtempF")[0];
          console.log(title_4.childNodes[0]);
          $("#maxtempF_value").html(title_4.childNodes[0]);
          var title_5 = doc.getElementsByTagName("maxtempC")[0];
          console.log(title_5.childNodes[0]);
          $("#maxtempC_value").html(title_5.childNodes[0]);
          var title_6 = doc.getElementsByTagName("mintempC")[0];
          console.log(title_6.childNodes[0]);
          $("#mintempC_value").html(title_6.childNodes[0]);
          var title_7 = doc.getElementsByTagName("mintempF")[0];
          console.log(title_7.childNodes[0]);
          $("#mintempF_value").html(title_7.childNodes[0]);
          var title_8 = doc.getElementsByTagName("chanceofrain")[0];
          console.log(title_8.childNodes[0]);
          $("#chanceofrain_value").html(title_8.childNodes[0]);
          var title_9 = doc.getElementsByTagName("chanceofovercast")[0];
          console.log(title_9.childNodes[0]);
          $("#chanceofovercast_value").html(title_9.childNodes[0]);
          var title_10 = doc.getElementsByTagName("chanceofsunshine")[0];
          console.log(title_10.childNodes[0]);
          $("#chanceofsunshine_value").html(title_10.childNodes[0]);
          var title_11 = doc.getElementsByTagName("chanceofsnow")[0];
          console.log(title_11.childNodes[0]);
          $("#chanceofsnow_value").html(title_11.childNodes[0]);
          var title_12 = doc.getElementsByTagName("chanceofthunder")[0];
          console.log(title_12.childNodes[0]);
          $("#chanceofthunder_value").html(title_12.childNodes[0]);

        }
    };
    x.send(null);


    }

    function init(){$("#click").click(onButtonClick);}

    $(document).ready(init);


  </script>
    <!-- <link rel ="stylesheet" href="/assets/css/weather.css"> -->
  <body>
    <div id="date">
      <h1>Today's Weather</h1> <br>
    </div>
    <div class ="output">
      <div id="temp_C">
        <h5>Temperature in Celsius:
          <div id ="temp_C_value">
          </div>
        </h5>
        <br>
      </div>
      <div id="temp_F">
        <h5>Temperature in Farhenheit:
          <div id ="temp_F_value">
          </div>
        </h5>
        <br>
      </div>
      <div id="maxtempC">
        <h5>Maximum Temperature in Celsius:
          <div id ="maxtempC_value">
          </div>
        </h5>
        <br>
      </div>
      <div id="maxtempF">
        <h5>Maximum Temperature in Farhenheit:
          <div id ="maxtempF_value">
          </div>
        </h5>
        <br>
      </div>
      <div id="mintempC">
        <h5>Minimum Temperature in Celsius:
          <div id ="mintempC_value">
          </div>
        </h5>
        <br>
      </div>
      <div id="mintempF">
        <h5>Minimum Temperature in Farhenheit:
          <div id ="mintempF_value">
          </div>
        </h5>
        <br>
      </div>
      <div id="chanceofrain">
        <h5>Chance of Rain:
          <div id ="chanceofrain_value">
          </div>
        </h5>
        <br>
      </div>
      <div id="chanceofsunshine">
        <h5>Chance of Sunshine:
          <div id ="chanceofsunshine_value">
          </div>
        </h5>
        <br>
      </div>
      <div id="chanceofovercast">
        <h5>Chance of Overcast:
          <div id ="chanceofovercast_value">
          </div>
        </h5>
        <br>
      </div>
      <div id="chanceofsnow">
        <h5>Chance of Snow:
          <div id ="chanceofsnow_value"></div>
        </h5>
        <br>
      </div>
      <div id="chanceofthunder">
        <h5>Chance of Thunder:
          <div id ="chanceofthunder_value">
          </div>
        </h5>
        <br>
      </div>
    </div>
  </div>
</div>
</div>


</div>
</div>


</section>
    <footer id="mu-footer" role="contentinfo">
  			<div class="container">
  				<div class="mu-footer-area">
            <p> Google CSSI 2019 </p>
  				</div>
  			</div>

  	</footer>
  </body>

</html>
